@model smart_education_center.Models.TestViewModel
@{
    Layout = null;
    int totalHours = (int)(Model.DurationInMinutes/60);
    var minutes = Model.DurationInMinutes % 60;
}
<div class="modal-header site-theme" style="background-color:#d9dbdd">
    <h4 class="modal-title pull-left">Instruction of the test</h4>
    <button type="button" class="close" data-dismiss="modal" style="color:red;">&times;</button>
</div>
<div class="site-theme">

        <form id="formEP">
            <div style="padding-right:0px;padding-left:0px;padding-bottom:5px;padding-top:5px; background-color:#ffffff;border-radius:12px;">
               
                <div class="navbar-form div-row text-center" style="position:center">
                    <p>This is @(Model.TestName).</p>
                    <p>You have 
                        @if (totalHours > 0) {
                            <h3>@(totalHours) hours and</h3>
                        }
                        @if (minutes != 0)
                        {
                            <h3>@(minutes) minutes</h3>
                        }
                     </p>
                </div>
            </div>
            <div class="modal-footer site-theme">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="@Url.Action("AddTestEntry", "Exam", new { testID = Model.Id, durationInMinutes =Model.DurationInMinutes })" class="btn btn-default">Continue</a>
            </div>
        </form>
    @*}*@
</div>
