
@{
    Layout = null;
    ViewBag.Title = "ViewQuestion";
    var endTime = DateTime.UtcNow.AddSeconds(70);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cyber School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>
   
    <div class="jumbotron" style="border-bottom:2px solid black;">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px; height:80px;">
                    <h3 style="font-size:3vw">Grade @Session["GradeID"]</h3>
                </div>
                <div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px;">
                    <h3 style="font-size:2vw">Sabject @Session["SubjectID"]</h3>
                </div>
                <div class="col-xs-4 col-sm-4" style="border:groove; border-radius:12px;">
                    <h3 style="font-size:2vw">Paper Name @Session["PaperID"]</h3>
                </div>
                <div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px;">
                    <h3 style="font-size:2vw">Paper I</h3>
                </div>
                <div class="col-xs-2 col-sm-2" style="border:groove; border-radius:12px; height:80px;">
                    <h3 style="font-size:3vw"><span id="minRemaining"></span> : <span id="secRemaining"></span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-3">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-1 col-sm-1 text-center">
                <h1 style="border:1px solid black; border-radius:12px; font-size:2vw;">10</h1>
            </div>
            <div class="col-xs-11 col-sm-9" style="border-left:2px solid black;">
                <div>
                    Google News is a news aggregator and app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available on Android, iOS, and the web. A beta version was launched in September 2002, and released officially in January 2006. Wikipedia
                    <br /><br />
                </div>
                @*<div class="text-center">
                    Image
                    <br /><br />
                </div>*@
                <div style="border-top:2px solid black;">
                    <br />
                    <div class="col-sm-6">
                        <div>
                            organized from thousands of publishers
                            <br /><br />
                        </div>
                        <div>
                            organized from thousands of publishers
                            <br /><br />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            organized from thousands of publishers
                            <br /><br />
                        </div>
                        <div>
                            organized from thousands of publishers
                            <br /><br />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-xs-1 col-sm-1" style="border-top:1px solid black;">
                        <br />
                        <a class="btn btn-default" style="color:black;border:1px solid black;border-radius:12px;"><</a>
                    </div>
                    <div class="col-xs-8 col-sm-10" style="border-top:1px solid black;"></div>
                    <div class="col-xs-2 col-sm-1" style="border-top:1px solid black;">
                        <br />
                        <a class="btn btn-default" style="color:black;border:1px solid black;border-radius:12px;">></a>
                    </div>
                </div>
            </div>
        </div>
    <br />
        <div class="row" style="border-top:1px solid black;">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @for (int i = 0; i < 30; i++)
                {
                    <div class="col-xs-1 col-sm-1">
                        <a class="btn btn-default" style="color:black;border:none;">@(i + 1)</a>
                    </div>
                }
            </div>
        </div>
    </div><br /><br /><br />
    <footer class="container-fluid text-center navbar-fixed-bottom" style="height:50px;">
        <p>Smart Education Center</p>
    </footer>
</body>
</html>

<script>

    function startTick() {

        var remSeconds = @timeRemaining;
        var secCounter = remSeconds%60;

        function formatNumber(number){
            if (number<10) {
                return '0'+number;
            }
            else {
                return ''+number;
            }
        }

        document.getElementById('secRemaining').innerText = formatNumber(secCounter);
        document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));

        var _tick = setInterval(function(){
            remSeconds = remSeconds-1;
            secCounter = secCounter-1;
            document.getElementById('secRemaining').innerText = formatNumber(secCounter);
            document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));
            if (secCounter==0) {
                secCounter=60;
            }
        },1000);
    }
    startTick();

</script>